
<div class="row">
	<div class="col-md-10 title">
		<h3>Reyes Rodriguez</h3> <h4>Web Developer</h4>
	</div>
	<div class="col-md-4 col-md-offset-2 left">
		
		<p>Staying on top of emerging technological industry trends, and applying them to activities and/or projects is one of the things I enjoy most.</p>
		<p>I am a full stack developer, and also have a deep passion for music. After having being successfully involved in various fields, including the hospitality sector and music industry. I now have the fortune to do the two things I enjoy the most, web developing and music specialist.
		</p>
	</div>
	<div class="col-md-4 right">
		<p>Being part of the music industry, and serving a liaison between digital media and physical media products, has been a great thrill so far.  </p>
		<p>Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit. </p>
	</div>
</div>
