
<div class="row">
	<div class="col-md-10 title">
		<h3>Reyes Rodriguez</h3> <h4>Web Developer</h4>
	</div>
	<div class="col-md-4 col-md-offset-2 left">
		<h4><mark>HELLO !</mark></h4>
		
		<p>Hi, I'm Reyes a web developer based in Brooklyn, NY. Specializing in web design utilizing Ruby on Rails and Wordpress.  Staying on top of emerging industry trends, and applying them to projects is one of the things I enjoy most.</p>
		<p>Besides being a Full-stack developer, have a deep passion for music. I have been successfully involved in various fields in the music industry, from cataloging to consulting to creating and maintaining a large music database. 
		</p>
	</div>
	<div class="col-md-4 right">

		<p>Being part of the music industry, and serving a liaison between digital media and physical media products, has been a great thrill so far.  </p>
		<p>I have also consulted for the service industry. In social media strategy, guest experience and general business strategy</p>
		<p>I am looking for new challenges and an opportunity to drive projects into completion and success. Please get in touch.</p>
	</div>
</div>
