<div class="row">
	<div class="col-md-12 title">
		<h3>Reyes Rodriguez</h3> <h4>Web Developer</h4>
	</div>
	<div class="col-md-5 col-md-offset-2 ">
		<h4>Job Experience </h4>
		<hr>

		<dl>
  			<dt>Norton Records</dt>
  			<dt>Consultant/Web Developer November 2015 - May 2017</dt>
  			<dd><ul>
  				<li>Provide strategic guidance and be a liaison between digital media and physical media.</li>
  				<li>Front-end and Back-end work on various projects using Ruby On Rails, Javascript, Sass, Postgresql and Bootstrap</li>
  				<li>Created custom websites using Wordpress.</li>
  				<li>Database Management. Responsible for organizing, preparing and designing schemas for web content using PostgreSQL.</li>
  				<li>Management and distribution of digital products. Classifying and catalog thousands of music titles.</li>
				</ul>
			</dd>
		</dl>
		<dl>
  			<dt>Freelance / Consultant</dt>
  			<dt>Consultant/Web Developer November 2014 - October 2017</dt>
  			<dd><ul>
  				<li>Custom made, fully responsive websites, using Ruby On Rails and Wordpress</li>
  				<li>Created static pages using Javascript and hosting on Amazon Web Services.</li>
				</ul></dd>
		</dl>

		<h4>Courses</h4>
		<hr>
		<dl>
  			<dt>Mongo DB University</dt>
  			<dd>Succesfull completion of MongoDB for Node.JS Developers.</dd>
  			<dt>Amazon Web Services</dt>
  			<dd>Completion of course Amazon Web Services.</dd>
		</dl>


		<h4>Education</h4>
		<hr>
		<dl>
  			<dt>General Assembly May 2015 - September 2015</dt>
  			<dt>Web Development</dt>
  			<dd>Comprehend and apply all aspects of being a Full-stack developer.</dd>
  			<dd>Immersive course on Object Oriented Programming.</dd>
  			<dd>Full understanding on modern frameworks and an agile development process.</dd>
		</dl>

		<dl>
  			<dt>Baruch College, City University of New York (CUNY) January 2013 - June 2013</dt>
  			<dt>Web Development</dt>
  			<dd>Studies in programming and a comprehensive foundation in web applications. </dd>
  			<dd>Learned PHP, MySQL database and the LAMP stack.</dd>
		</dl>

	</div>
	<div class="col-md-2 ">
		<h4>Skills</h4>
		<hr>
		<dl>
  			<dt>Ruby</dt>
  			<div class="progress">
  				<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    				<span class="sr-only">60% Complete</span>
  				</div>
			</div>
			<dt>Ruby on Rails</dt>
  			<div class="progress">
  				<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
    				<span class="sr-only">80% Complete</span>
  				</div>
			</div>
			<dt>Javascript - Jquery</dt>
  			<div class="progress">
  				<div class="progress-bar" role="progressbar" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100" style="width: 74%;">
    				<span class="sr-only">74% Complete</span>
  				</div>
			</div>
			<dt>React</dt>
  			<div class="progress">
  				<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    				<span class="sr-only">60% Complete</span>
  				</div>
			</div>
			<dt>Wordpress</dt>
  			<div class="progress">
  				<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    				<span class="sr-only">60% Complete</span>
  				</div>
			</div>
			<dt>CSS - SASS</dt>
  			<div class="progress">
  				<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
    				<span class="sr-only">80% Complete</span>
  				</div>
			</div>
			<dt>HTML</dt>
  			<div class="progress">
  				<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
    				<span class="sr-only">95% Complete</span>
  				</div>
			</div>
			<dt>Mongo DB - Postgresql</dt>
  			<div class="progress">
  				<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
    				<span class="sr-only">65% Complete</span>
  				</div>
			</div>
			<dt>AWS - Heroku</dt>
  			<div class="progress">
  				<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
    				<span class="sr-only">70% Complete</span>
  				</div>
			</div>
			<dt>Node.Js</dt>
  			<div class="progress">
  				<div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
    				<span class="sr-only">55% Complete</span>
  				</div>
			</div>
		</dl>

		<h4>Interests</h4>
		<hr>
		
	</div>
</div>