<div class="row">
<div class="col-md-6 col-md-offset-3">
 
 <div class="tags-cloud glassy-bg">
  <h4>Search Tags</h4>
  <% tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
    <%= link_to tag.name.html_safe, tag_path(tag.name), class: css_class %>
  <% end %>
</div>   
  <% @tags.each do |tag| %>
    <tr>
      <h3><%= tag.name.html_safe %></h3>
    <% if model_signed_in? %>
 
    <%= link_to 'Destroy', tag_path(tag), method: :delete,
    data: { confirm: 'Are you sure?' } %>
    <% end %>
   <% end %>





</div>
</div>