<div class="row">
	<div class="col-md-12 title">
		<h3 class="title"> Work </h3>
		<ul class="grid cs-style-1">
			<li>
				<figure>
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-05-26+at+4.43.38+PM.png" alt="" class="img-responsive" height="480" width="600">
					<figcaption>
						<h4>Project: Drill4you</h4>
						<span>Javascript Adobe Animate AWS</span>
						<a href="http://drill4you.com/">Take a look</a>
					</figcaption>
				</figure>
			</li>
		


			<li>
				<figure>
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-05-26+at+5.22.29+PM.png" alt="" class="img-responsive" height="480" width="600" >
					<figcaption>
						<h4>Project: Platform for music licensing.</h4>
						<span>Ruby on Rails Javascript Postgresql</span>
						<a href="https://radiant-woodland-54799.herokuapp.com/">Take a look</a>
					</figcaption>
				</figure>
			</li>

			
			<li>
				<figure>
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-06-02+at+12.06.40+PM.png" alt="" class="img-responsive" height="480" width="600" >
					<figcaption>
						<h4>Project: Dashboard for music licensing.</h4>
						<span>Ruby on Rails Javascript Postgresql</span>
						<a href="https://radiant-woodland-54799.herokuapp.com/">Take a look</a>
					</figcaption>
				</figure>
			</li>



		

		
		<!-- 	<li>
				<figure>
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-05-26+at+5.22.29+PM.png" alt="" height="300" width="500">
					<figcaption>
						<h4>Project</h4>
						<span>Reyes Rodriguez</span>
						<a href="">Take a look</a>
					</figcaption>
				</figure>
			</li>
		

		
			<li>
				<figure>
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-05-26+at+5.21.56+PM.png" alt="" height="300" width="500">
					<figcaption>
						<h4>Project</h4>
						<span>Reyes Rodriguez</span>
						<a href="">Take a look</a>
					</figcaption>
				</figure>
			</li> -->
		</ul>
		
	</div>
</div>
