
	<div class="row">
		<h2 class="title"> Work </h2>
		<div class="grid">
				<figure class="effect-zoe">
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-07-27+at+3.49.42+PM.png" alt="" >
					<figcaption>
						<h3>Project <span>Kitchenhire<span></h3>
						<p>
								<a href="https://tranquil-hamlet-7762.herokuapp.com" target="_blank"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
								<a href="mailto:thunderreefmedia@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
								<a href="#" target="_blank"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></span></a>
						</p>
						<p class="description">Talent board for the hospitality business</p>
					</figcaption>
				</figure>
				<figure class="effect-zoe">
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-07-27+at+3.51.14+PM.png" alt="" >
					<figcaption>
						<h3>Project <span>Kitchenhire<span></h3>
						<p>
								<a href="https://tranquil-hamlet-7762.herokuapp.com" target="_blank"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
								<a href="mailto:thunderreefmedia@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
								<a href="#" target="_blank"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></span></a>
						</p>
						<p class="description">Talent board for the hospitality business</p>
					</figcaption>
				</figure><figure class="effect-zoe">
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-07-27+at+3.51.54+PM.png" alt="" >
					<figcaption>
						<h3>Project <span>Kitchenhire<span></h3>
						<p>
								<a href="https://tranquil-hamlet-7762.herokuapp.com" target="_blank"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
								<a href="mailto:thunderreefmedia@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
								<a href="#" target="_blank"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></span></a>
						</p>
						<p class="description">Talent board for the hospitality business, OAuth login.</p>
					</figcaption>
				</figure>
				<figure class="effect-zoe">
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-07-27+at+4.14.59+PM.png" alt="" >
					<figcaption>
						<h3>Project <span>Kitchenhire<span></h3>
						<p>
								<a href="https://tranquil-hamlet-7762.herokuapp.com" target="_blank"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
								<a href="mailto:thunderreefmedia@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
								<a href="#" target="_blank"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></span></a>
						</p>
						<p class="description">Talent board for the hospitality business, fully responsive.</p>
					</figcaption>
				</figure>




				<figure class="effect-zoe">
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-05-26+at+4.43.38+PM.png" alt="" >
					<figcaption>
						<h3>Project <span>Drill4you<span></h3>
						<p>
								<a href="http://drill4you.com/" target="_blank"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
								<a href="mailto:thunderreefmedia@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
								<a href="#" target="_blank"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></span></a>
						</p>
						<p class="description">Custom made project using HTML CSS Javascript and Adobe Animate</p>
					</figcaption>
				</figure>
				<figure class="effect-zoe">
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-05-26+at+5.22.29+PM.png">
					<figcaption>
						<h3>Project <span>Music Licensing</span></h3>
						<p>
								<a href="https://radiant-woodland-54799.herokuapp.com" target="_blank"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
								<a href="mailto:thunderreefmedia@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
								<a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true" target="_blank"></span></span></a>
						</p>
						<p class="description">Created Music licensing platform for Record label</p>
					</figcaption>
				</figure>
			</div>
	<div class="grid">
				<figure class="effect-zoe">
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-06-02+at+12.06.40+PM.png" >
					<figcaption>
						<h3>Project <span> Music Licensing</span></h3>
						
						<p>
								<a href="https://radiant-woodland-54799.herokuapp.com" target="_blank"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
								<a href="mailto:thunderreefmedia@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
								<a href="#" target="_blank"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></span></a>
						</p>
						<p class="description">Admin and user dashboard for managing song database</p>
					</figcaption>
				</figure>
				<figure class="effect-zoe">
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-06-02+at+12.06.40+PM.png" >
					<figcaption>
						<h3>Project <span>Admin Dashboard</span></h3>
						
						<p>
								<a href="https://radiant-woodland-54799.herokuapp.com" target="_blank"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
								<a href="mailto:thunderreefmedia@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
								<a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true" target="_blank"></span></span></a>
						</p>
						<p class="description">Admin and user dashboard for managing song database</p>
					</figcaption>
				</figure>
		</div>
	</div>

