
	<div class="row">
		<h3 class="title"> Work </h3>
		<div class="grid">
				<figure class="effect-zoe">
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-05-26+at+4.43.38+PM.png" alt="" >
					<figcaption>
						<h3>Project <span>Drill4you<span></h3>
						<p class="icon-links">
								<a href="#"><span class="icon-heart"></span></a>
								<a href="#"><span class="icon-eye"></span></a>
								<a href="#"><span class="icon-paper-clip"></span></a>
						</p>
						<p class="description">Custom made project using HTML CSS Javascript and Adobe Animate .</p>
					</figcaption>
				</figure>
				<figure class="effect-zoe">
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-05-26+at+5.22.29+PM.png">
					<figcaption>
						<h3>Project <span>Music Licensing</span></h3>
						<p class="icon-links">
								<a href="#"><span class="icon-heart"></span></a>
								<a href="#"><span class="icon-eye"></span></a>
								<a href="#"><span class="icon-paper-clip"></span></a>
						</p>
						<p class="description">Created Music licensing platform for Record label.</p>
					</figcaption>
				</figure>
			</div>
	<div class="grid">
				<figure class="effect-zoe">
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-06-02+at+12.06.40+PM.png" >
					<figcaption>
						<h3>Project <span> Music Licensing.</span></h3>
						
						<p class="icon-links">
								<a href="#"><span class="icon-heart"></span></a>
								<a href="#"><span class="icon-eye"></span></a>
								<a href="#"><span class="icon-paper-clip"></span></a>
						</p>
						<p class="description">Admin and user dashboard for managing song database.</p>
					</figcaption>
				</figure>
				<figure class="effect-zoe">
					<img src="https://s3.amazonaws.com/thunderreefwebsite/images_work/Screen+Shot+2017-06-02+at+12.06.40+PM.png" >
					<figcaption>
						<h3>Project <span>Admin Dashboard.</span></h3>
						
						<p class="icon-links">
								<a href="#"><span class="icon-heart"></span></a>
								<a href="#"><span class="icon-eye"></span></a>
								<a href="#"><span class="icon-paper-clip"></span></a>
						</p>
						<p class="description">Admin and user dashboard for managing song database.</p>
					</figcaption>
				</figure>
		</div>
	</div>

