nav {
    height: 60px;
    width: 100%;
    background: transparent;
    font-size: 12pt;
    font-family: 'PT Sans', Arial, sans-serif;
    position: relative;
}
nav ul {
    padding: 0;
    margin: 0 auto;
    width: 400px;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
    font-weight: 700;

}

nav a {
    color: #464646;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;

}

nav li a {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.underline a:hover {
    border-bottom: 1px solid black;
    border-bottom-width: medium;
    color: #D86817;
    font-weight: 700;
}

a {
    border-bottom: none;
}

nav a:hover, nav a:active {

    text-decoration: none;
}

nav a#pull {
    display: none;
    transition: .3s ;
}     

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;

}

.fa {
        display:inline-block;
    }

.navbar.navbar-default{
background:transparent;
box-shadow: none;
border-bottom: none;
}





@media screen and (max-width: 30.5em) {


    nav ul {
    padding: 0;
    margin: 0 auto;
    width: auto;
    height: 40px;
}

    .clearfix {
    *zoom: 1;
    display: inline-block;
    padding-left: 18px

}

    nav a {
    color: black;
    display: inline-block;
    width: 80px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;

}

}