// Place all the styles related to the Portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid {
	padding:70px 20px 50px 20px;
	max-width:1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	margin-bottom: 100px;
	padding: 20px;
	text-align: left;
	position: relative;
}



.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	// display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #DADADA;
	color: white;
}

.grid figcaption h4 {
	margin: 0;
	padding: 0;
	color: #D86817;

}

.grid figcaption span:before {
	content: ' ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #FFFFFF;
	color: black;
}

.cs-style-1 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-1 figure:hover img,
.cs-style-1 figure:hover img {
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
	transform: translateY(-90px);
}

.cs-style-1 figcaption {
	height: 90px;
	width: 100%;
	top: auto;
	bottom: 0;
}

.cs-style-1 figcaption a {
	position: absolute;
	right: 20px;
	top: 30px;
}

@media only screen 
    and (min-width : 414px) 
    and (max-width : 736px) 
    and (orientation : landscape) 
    and (-webkit-min-device-pixel-ratio : 3) 
{ 

	.clearfix .underline li {
    display: inline-block;
    padding-left: 35px;
	}

}


@media screen and (max-width: 736px) {
	.grid {
		padding: 70px 10px 5px 10px;
	}

	

	.grid li {
		width: 100%;
		height:200px;
    	display: inline-block;
    	padding: 35px;
    	text-align: left;
    	position: relative;

	}

	.title > .text-muted {
		padding-bottom:60px;
	}

	figcaption{
		text-align: center;
	}

	.grid figcaption h4 {
	margin: 0;
	padding: 0;
	color: #ede9ce;
	font-size: 1em;
	text-align:center;

}
	

	.grid figcaption a {
	text-align: center;
	padding: 2px 5px;
	border-radius: 2px;
	display: inline-block;
	background: #ede9ce;
	color: black;
}
	.cs-style-1 figcaption a {
    position: absolute;
    right: 100px;
    top: 55px;
}

}

