// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
	h2{
	font-weight:700;
}
	text-align:center;
}

p {
	font-size:large;

}

.right {
	padding-top:37px;
}

@media screen and (max-width: 31.5em) {
	.right {
	padding-top:0px;
}
	}