<footer class="footer">
	<div class="container">
		<div class="col-md-12">
		<p class="text-muted">Thundereef Media</p>
		<ul class="list-inline text-muted">
  			<li><a href="mailto:thunderreefmedia@gmail.com" target="_blank"><img src="https://s3.amazonaws.com/thunderreefwebsite/icons/001-close-envelope.png" 
      alt="Icon made by Yannick from www.flaticon.com " height="32" width="32"
      ></a></li>
  			<li><a href="https://www.linkedin.com/in/reyesrodriguez/" target="_blank"><img src="https://s3.amazonaws.com/thunderreefwebsite/icons/003-linkedin-logo.png" 
      alt="Icon made by SimpleIcon from www.flaticon.com " height="32" width="32"
      ></a></li>
  			<li><a href="https://github.com/reyesrodriguez" target="_blank"><img src="https://s3.amazonaws.com/thunderreefwebsite/icons/004-github-logo.png" 
      alt="Icon made by Dave Gandy from www.flaticon.com " height="32" width="32"
      ></a></li>
  			<li><a href="https://open.spotify.com/user/reyesorodriguez" target="_blank"><img src="https://s3.amazonaws.com/thunderreefwebsite/icons/002-spotify.png" 
      alt="Icon made by Freepik from www.flaticon.com " height="32" width="32"
      ></a></li>
		</ul>
		<span>
		<% if model_signed_in? %>
       <li>
        <%= link_to('Logout', destroy_model_session_path, :method => :delete) %>        
       </li>
      
       <% end %>

   </div>
	</div>
</footer>