
<nav id="nav-main" class="clearfix">
    <ul class="clearfix">
    	<li><a href="/">Home</a></li>
        <li><a href="#">Dev Work</a></li>
        <li><a href="#">Resume</a></li>
        <li><%= link_to 'Blog', articles_path %></li>
    </ul>
    <a id="pull"><i class="fa fa-bars fa-2x"></i></a>
</nav>
